# SAC Configuration for Box2D Environments

# LunarLander-v3 configuration
LunarLander-v3:
  episodes: 2000

  discount_factor: 0.99
  tau: 0.005

  learning_rate_actor: 0.0003
  learning_rate_critic: 0.001
  batch_size: 256
  replay_memory_size: 400000

  automatic_entropy_tuning: true
  alpha: 0.05 # smaller initial alpha
  target_entropy: -1.0 # stabilizes exploration

  start_steps: 1500
  update_after: 1500
  updates_per_step: 4 # ✨ the most important change

  gradient_clip: 0.5
  reward_scale: 1.0

  # Early stop training if solved
  convergence_threshold: 180 # stop when average > 180
  convergence_window: 1000

# CarRacing-v3 configuration
CarRacing-v3:
  episodes: 2000

  discount_factor: 0.99
  tau: 0.005

  learning_rate_actor: 0.0003
  learning_rate_critic: 0.0007
  batch_size: 256
  replay_memory_size: 200000

  automatic_entropy_tuning: true
  alpha: 0.2
  target_entropy: -3.0 # action_dim = 3 → often -action_dim

  start_steps: 10000
  update_after: 5000
  updates_per_step: 1

  gradient_clip: 1.0
  reward_scale: 1.0

  obs_type: cnn # <-- THIS enables the CNN path

